@{
    ViewBag.Title = "About";
}
<h2>ผู้จัดทำ</h2>


<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <img src="~/images/รูปกิ่ง.jpg" style="width:40%" />
        <p style="font-size:20px;">นางสาวกิ่งกมล ผูกพันธ์ ปวส.2/2</p>
        <p style="font-size:20px;">รหัสประจำตัวนักศึกษา 63025367</p>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-12" style="text-align:center;">
            <img src="~/images/รูปเฟิน.jpg" style="width:40%" />
            <p style="font-size:20px;"> นางสาว ใบเฟริน์ บุญหล้า ปวส.2/2 </p>
            <p style="font-size:20px;">รหัสประจำตัวนักศึกษา 63025353</p>
        </div>
    </div>
    <br />
<div class="row">
    <div class="col-lg-12 " style="text-align:center;">
        <img src="~/images/รูปดิว.jpg" style="width:40%" />
        <p style="font-size:20px;">นาย เอกฤทธ์ ประเสริทสม ปวส.2/2</p>
        <p style="font-size:20px;">รหัสประจำตัวนักศึกษา 63025419</p>
    </div>
</div>
  
