
@{
    ViewBag.Title = "ORderb";
}

<h2>ORderb</h2>
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2415.PNG" style="width:100%" />
        <p>แซนวิสแฮมชีสอบกรอบ</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">69฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2417.PNG" style="width:100%" />
        <p>แซนด์วิชไก่ชีสกรอบ</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">69฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2419.PNG" style="width:100%" />
        <p>แซนด์วิชปูอัดชีสอบกรอบ</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">69฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2421.PNG" style="width:100%" />
        <p>วาฟเฟิลฟรายส์</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">59฿</span>
            <span style="float: right;">เลือก</span>
        </button
    </div>
</div>

    
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2423.PNG" style="width:100%" />
        <p>ขนมปังกระเทียม</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">59฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2427.PNG" style="width:100%" />
        <p>เบรดสติกซ์</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">69฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2818.PNG" style="width:100%" />
        <p>มันบด</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">59฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2819.PNG" style="width:100%" />
        <p>ทูน่าคอร์นสลัด</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">89฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
 </div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2820.PNG" style="width:100%" />
        <p>โคลสลอว์</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">89฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2821.PNG" style="width:100%" />
        <p>เบอร์เกอร์ปลาชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">99฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2822.PNG" style="width:100%" />
        <p>เบอร์เกอร์ปลา</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2824.PNG" style="width:100%" />
        <p>ซีซาร์สลัด</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
        <span style="float: left;">119฿</span>
        <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2825.PNG" style="width:100%" />
        <p>สลัดกุ้ง</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2826.PNG" style="width:100%" />
        <p>กาเด้นสลัดและน้ำสลัดเทาซันไฮส์แลนด์</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2827.PNG" style="width:100%" />
        <p>กาเด้นสลัดและน้ำสลัดครีม</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">119฿</span>
                <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2828.PNG" style="width:100%" />
        <p>กุ้งกรอบเกาหลี</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">139฿</span>
              <span style="float: right;">เลือก</span>
         </button>
    </div>
</div>

<div class="flex-container">
    <div class="block-menu flex-item ">
        <img src="~/images/Appetizer/IMG_2869.PNG" style="width:100%" />
        <p>ซี่โครงหมูบาร์บีคิว</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">199฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2976.PNG" style="width:100%" />
        <p>นักเก็ตปลา</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">89฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2977.PNG" style="width:100%" />
        <p>นักเก็ตไก่</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">79฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2978.PNG" style="width:100%" />
        <p>เฟรนซ์ฟรายด์ชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">99฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
 </div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2980.PNG" style="width:100%" />
        <p>เฟรนฟรายด์</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">79฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2981.PNG" style="width:100%" />
        <p>ไก่จ๊อ</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">79฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Appetizer/IMG_2982.PNG" style="width:100%" />
        <p>ชีสบอล</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">79฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>
