
@{
    ViewBag.Title = "Billing";
}

<h2>Billing</h2>
<p class="clearfix"></p>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4" style="background-color: white;">
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <img src="~/images/S__57081903.jpg" style="width:20%; margin-top: 10px" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding-billing" style="text-align: left;">
                Pizza
            </div>
            <div class="col-lg-6 padding-billing" style="text-align: right;">
                129 ฿
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding-billing" style="text-align: left;">
                Ice-Cream
            </div>
            <div class="col-lg-6 padding-billing" style="text-align: right;">
                49 ฿
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding-billing" style="text-align: left;">
                Spaghetti
            </div>
            <div class="col-lg-6 padding-billing" style="text-align: right;">
                99 ฿
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding-billing" style="text-align: left;">
                Total
            </div>
            <div class="col-lg-6 padding-billing" style="text-align: right;">
                277 ฿
            </div>
        </div>
    </div>
</div>

