
@{
    ViewBag.Title = "Chicken";
}

<h2>Menuchicken</h2>
<div class="ChickenMenu">
    <div class="flex-container">
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2359.PNG" style="width:100%" />
            <p>ไก่ราดซอสบาบีคิว</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2361.PNG" style="width:100%" />
            <p>ไก่สไปร์ซี่เกาหลี</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2363.PNG" style="width:100%" />
            <p>ไก่ทอดเกาหลี</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2365.PNG" style="width:100%" />
            <p>ไก่ทอดวิ้งแซ่บ</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
    </div>

    <div class="flex-container">
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2809.PNG" style="width:100%" />
            <p>ไก่ไม่มีกระดูก</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2810.PNG" style="width:100%" />
            <p>ไก่ป๊อบ</p>
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2811.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2812.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
    </div>

    <div class="flex-container">
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2816.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/IMG_2817.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/ไม่มีชื่อ 10_20210625015422.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
        <div class="block-menu flex-item">
            <img src="~/images/Chicken/ไม่มีชื่อ 11_20210625015757.PNG" style="width:100%" />
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">79 ฿</span>
                <span style="float: right;">เลือก</span>
            </button>
        </div>
    </div>
</div>


