
@{
    ViewBag.Title = "OneDish";
}

<h2>OneDish</h2>
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2329.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2331.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2333.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2335.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2337.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2339.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2341.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/one dish/IMG_2343.PNG" style="width:100%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>
