
@{
    ViewBag.Title = "OrderProduct";
}

<h2>OrderProduct</h2>
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/S__55828482.jpg" style="width: 100%;" />
        <p>
            เห็ดและมะเขือเทศผักโขม เห็ด หอมใหญ่ มะเขือเทศ พริกแดงพริกเขียว
            และซอสพิซซ่า 299
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">299฿</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828484.jpg" style="width: 100%;" />
        <p>
            ดับเบิ้ลชีส
            เพิ่มชีส2เท่ามากกว่าปกติ และซอสพิซซ่า
            139 / กลาง 239 / ใหญ่ 339
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">239</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828486.jpg" style="width: 100%;" />
        <p>
            ไก่และปูอัด
            ไก่บาร์บีคิว ปูอัด
            และซอสเทาซันไอส์แลนด์
            เล็ก 139 / กลาง 239 / ใหญ่ 339
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">239</span>
            <span style="float: right;">กดซื้อ</span>
        </button>

    </div>

 </div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/S__55828488.jpg" style="width:100%;" />
        <p>
            ฮาวายเอี้ยน
            แฮม เบคอน สัปปะรด และซอสพิซซ่า
            ในราคา239
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">239</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828494.jpg" style="width:100%;" />
        <p>

            ซีฟู้ดเดอะลุกซ์
            กุ้ง หอย ปลาหมึก ปูอัด หอมใหญ่ พริกหวาน
            และซอสมารินาร่า
            ในราคา289
            <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
                <span style="float: left;">289</span>
                <span style="float: right;">กดซื้อ</span>
            </button>
        </p>

    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828494.jpg" style="width:100%;" />
        <p>
            ต้มยำทะเล
            กุ้ง หมึก เห็ด และซอสต้มยำ
            ในราคา289
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">289</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
</div>


<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/S__55828496.jpg" style="width:100%;" />
        <p>
            ดับเบิ้ลไก่
            ไก่อบซอส ไก่บาร์บีคิว เห็ด หอมใหญ่ พริกหวาน สัปปะรด และซอสพิซซ่า
            ในราคา229
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">289฿</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828498.jpg" style="width:100%;" />
        <p>
            ดับเบิ้ลหมู
            แฮม ไส้กรอกรมควัน เป๊ปเปอโรนี เห็ด สัปปะรด และซอสพิซซ่า
            ในราคา229
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">229฿</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/S__55828500.jpg" style="width:100%;" />
        <p>
            ซุปเปอร์เดอะลุกซ์
            แฮม เบคอน เปปเปอโรนี ไส้กรอกรมควัน
            ไส้กรอกอิตาเลี่ยน เห็ด สัปปะรด  หอมใหญ่
            พริกหวาน และซอสพิซซ่า
            ในราคา259
        </p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">259฿</span>
            <span style="float: right;">กดซื้อ</span>
        </button>
    </div>
</div>












