
@{
    ViewBag.Title = "Promotion";
}
<h2>Promotion</h2>

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/Promotion/IMG_2670.JPG" style="width: 70%;" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
         </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/Promotion/IMG_2683.JPG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3576.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3577.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3579.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3580.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3581.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3582.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />


<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3584.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3585.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/promotionone/IMG_3586.PNG" style="width:70%" />
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01" style="width:70%">
            <span style="text-align:center;">กดซื้อ</span>
        </button>
    </div>
</div>
