
@{
    ViewBag.Title = "Spaghetti";
}

<h2>Spaghetti</h2>
<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_1836.PNG" style="width:100%" />
        <p>สปาเกตตีคาโบนาร่า</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2345.PNG" style="width:100%" />
        <p>สปาเกตตีขี้เมาทะเล</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2347.PNG" style="width:100%" />
        <p>สปาเกตตีขี้เมาใส้กรอก</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2349.PNG" style="width:100%" />
        <p>สปาเกตตีซอสไก่สับ</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2355.PNG" style="width:100%" />
        <p>พาสตาเส้นเกลียวแฮมและเห็ดอบชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2775.PNG" style="width:100%" />
        <p>ผักโขมอบชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2776.PNG" style="width:100%" />
        <p>พาสตาเส้นเกลียวไก่บาบีคิวอบชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2782.PNG" style="width:100%" />
        <p>พาสตาเส้นเกลียวเบคอนอบชีส</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
 </div>

<div class="flex-container">
    <div class="block-menu flex-item">
        <img src="~/images/Spagetti/IMG_2783.PNG" style="width:100%" />
        <p>สปาเกตตีเบคอนผัดพริกแห้ง</p>
        <button id="AddCart-CH01" class="btn btn-danger btn-add-cart" value="CH01">
            <span style="float: left;">129฿</span>
            <span style="float: right;">เลือก</span>
        </button>
    </div>
</div>

